<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.webp') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div>
                <h3 class="title">Grigori Rasputin</h3>
                <p class="category">Priest</p>
                <div class="content">
                    <div class="social-description">
                        <h2>5</h2>
                        <p>Posts</p>
                    </div>
                    <div class="social-description">
                        <h2>69</h2>
                        <p>Followers</p>
                    </div>
                    <div class="social-description">
                        <h2>100</h2>
                        <p>Comments</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">

          <h3 class="title">About me</h3>
          <h5 class="description"> Ra ra Rasputin
              Lover of the Russian queen
              There was a cat that really was gone
              Ra ra Rasputin
              Russia's greatest love machine
              It was a shame how he carried on</h5>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-center">Posts</h4>
                      <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons design_image"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/bg1.jpg" alt="" class="img-raised">

                                              <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                          </div>
                                          <div class="col-md-6">
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons location_world"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/bg6.jpg" class="img-raised">
                                              <div class="typography-line">
                                                  <blockquote>
                                                      <p class="blockquote blockquote-primary">
                                                          "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                                                          <br>
                                                          <br>
                                                          <small>
                                                              -- Grigori Rasputin
                                                          </small>
                                                      </p>
                                                  </blockquote>
                                              </div>
                                              <img src="assets/img/bg11.jpg" alt="" class="img-raised">
                                              <div class="typography-line">
                                                  <blockquote>
                                                      <p class="blockquote blockquote-primary">
                                                          "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                                                          <br>
                                                          <br>
                                                          <small>
                                                             -- Grigori Rasputin
                                                          </small>
                                                      </p>
                                                  </blockquote>
                                              </div>
                                          </div>
                                          <div class="col-md-6">

                                              <div class="typography-line">
                                                  <blockquote>
                                                      <p class="blockquote blockquote-primary">
                                                          “When the bell tolls three times, it will announce that I have been killed. If I am killed by common men, you and your children will rule Russia for centuries to come; if I am killed by one of your stock, you and your family will be killed by the Russian people! Pray Tsar of Russia. Pray.”
                                                          <br>
                                                          <br>
                                                          <small>
                                                              -- Grigori Rasputin
                                                          </small>
                                                      </p>
                                                  </blockquote>
                                              </div>
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                              <div class="typography-line">
                                                  <blockquote>
                                                      <p class="blockquote blockquote-primary">
                                                          “Salt, gathered from the tears of a thousand angels, restraining the essence of Sammael, the Hellhound. The Seed of Destruction. This I can promise, Sammael, for every one of you that falls, two shall arise.”

                                                          <br>
                                                          <br>
                                                          <small>
                                                              -- Grigori Rasputin
                                                          </small>
                                                      </p>
                                                  </blockquote>
                                              </div>
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons sport_user-run"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                          </div>
                                          <div class="col-md-6">
                                              <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg6.jpg" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                      </ngb-tabset>
                </div>
            </div>
        </div>
    </div>

</div>
