<div class="form-container">
  <form [formGroup]="registerForm">
    <label>Username</label>
    <input type="text" placeholder="Username" formControlName="username" class="form-control"/>
    <label>Password</label>
    <input type="password" placeholder="Password" formControlName="pasword" class="form-control"/>
    <label>Email</label>
    <input type="text" placeholder="Email" formControlName="email" class="form-control"/>
    <button (click)="registerUser()">Register</button>
    <button (click)="return()">Login</button>
  </form>
</div>

