<div class="form-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <label>Username</label>
      <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted}" placeholder="Username"/>


      <label >Password</label>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted}" placeholder="Password"/>


      <label >Email</label>
      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted}" placeholder="Email"/>

      <button>Register</button>

      <button (click)="return()">Cancel</button>
  </form>
</div>

